<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Site Status Detection</title>
</head>
<body>
    <h2>Enter Site URL</h2>
    <form method = "POST" action = "saveWebsite">
        <table>
            <tr>
                <h2</h2>
                <td><label for="url">Check URL</label></td>
                <td><input type="text" name="url" value="google.com"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit" /></td>
            </tr>
        </table>
    </form> 
</body>
</html>